
header, footer{
  background-color: brown;
  padding: 30px;
  border-top: 2px solid #AF1B3F;
}
h1 {
  font-size: 4em;
  color: white;
}

/* Start nav */
nav a{
  background-color: maroon;
  color: #fef9ff;
  padding: 8px;
  border: thin solid #0d1f2d;
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 20px;
  width: 150px;
  float: center;
}
nav a:hover {
  background-color: #fef9ff;
  color: #5b7d87; 
}

nav a:active {
  font-weight: bold;
}

nav a:visited {
  color: #e4c3ad; 
}

/*menu editing begins*/

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px 5px;
}
table {
  width:80%;
  margin: auto;
  color: white;
}
tr{
  height: 30px
}
th{
  background: maroon;
  color: #FBF9F8;
}
tr:nth-child(odd) {
  background-color: maroon;
}
/* text for table*/
td {
text-align: center;  
}
/* End Menu */