#name {
    font-family: 'Bungee Outline', cursive; 
    font-size: 50px;
    padding-left: 100px;
}

#navbar {
    background-image: linear-gradient(-100deg,lightseagreen,lightcoral);
    align-content: center;
    text-shadow: 0 0 3px lavenderblush, 0 0 5px lightseagreen;



}
body {
    background-image: url("https://images.unsplash.com/photo-1554189097-ffe88e998a2b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-size: 100%;
}

#bio1,#bio,#project,#contact,#skills {
    text-align: center;
    background-color: lavenderblush;
}



p {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 20px;
}

.card-text {
    font-size: 18px;
}
.card-title{
    font-family: 'Red Hat Display', sans-serif;    
    font-weight: bold;

}
#navbar-menu {
    font-family: 'Red Hat Display', sans-serif;   
    font-size: 30px;
    padding-left: 30px;
}

#header {
    font-size:40px;
    text-align: center;

}

.Avatar {
    border-radius: 50%;
    margin-left: 50px; 
    margin-right: 40px; 
    box-shadow: 5px 5px 5px grey;
  
}



  