#name {
    font-family: 'Nixie One', cursive;
    font-size: 48px;
    padding-left: 25px;
}

#navbar {
    background-image: linear-gradient(-90deg,lightseagreen,lightcoral);

}
body {
    background-image: url("https://images.unsplash.com/photo-1554189097-ffe88e998a2b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-size: 110%;
}

#bio1,#bio,#project,#contact,#skills {
    text-align: center;
    background-color: lavenderblush;
}


p {
    font-family: 'Nixie One', cursive;
    font-size: 24px;
}

.card-text {
    font-size: 20px;
}
.card-title{
    font-family: 'Nixie One', cursive;
    font-weight: bold;

}
#navbar-menu {
    padding-left: 800px;
    font-family: 'Nixie One', cursive;
    font-size: 24px;
}

#header {
    font-size:40px;
    text-align: center;

}


.Avatar {
    border-radius: 50%;
    margin-left: 50px; 
    margin-right: 40px; 
    box-shadow: 5px 5px 5px grey;
  
}



